@import "reset";
@import "functions";

body {
  @include flex(center, center, row);
}

.app {
  @include size(100%, 100%);
  @include flex(space-between, center, column);

  @media (prefers-color-scheme: dark) {
    color: whitesmoke;
    background: linear-gradient(0deg, darken(lightgray, 60%), darken(white, 60%));
  }

  padding: 18px;
  border-radius: 24px;
  background: linear-gradient(0deg, lightgray, white);
}

.row {
  @include flex(space-between, center, row);
  @include size(100%, fit-content);

  gap: 16px;
}
.information {
  @include flex(center, flex-start, column);
  gap: 2px;
  font-size: 14pt;
  font-weight: 600;
}
.name {
  font-size: 18pt;
  font-weight: 800;
}
.symbol {
  font-size: 10pt;
  opacity: 0.75;
}
.image {
  @include size(90px, 90px);
  @include backgroundImage("https://placehold.co/600x600");
}
.price-change {
  font-size: 16pt;
  font-weight: 900;
  &.positive {
    background: linear-gradient(0deg, seagreen, rgb(0, 207, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.negative {
    background: linear-gradient(0deg, crimson, rgb(220, 20, 60));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.currency {
  @media (prefers-color-scheme: dark) {
    color: lighten(rgba(0, 0, 0, 0.75), 60%);
    background: lighten(rgba(0, 0, 0, 0.125), 60%);
  }

  padding: 4px 6px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.125);
}
.last-updated {
  position: fixed;
  bottom: 60px;
  right: 18px;
}
