@import "reset";
@import "functions";

body {
  @include flex(center, center, row);
}
.app {
  @include size(100%, 100%);
  padding: 12px;
  border-radius: 12px;
  background: whitesmoke;
}
.row {
  @include flex(space-between, center, row);
  gap: 16px;
}
.row .image {
  @include size(60px, 60px);
  @include backgroundImage("https://placehold.co/600x600");
}
